Repository rapidsai/wholegraph, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/wholegraph-doc-codeowners, @rapidsai/wholegraph-cpp-codeowners, @rapidsai/wholegraph-python-codeowners, @rapidsai/wholegraph-cmake-codeowners, @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

.github/CODEOWNERS:

# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# Order matters - match of highest importance goes last (last match wins)

#doc code owners
datasets/          @rapidsai/wholegraph-doc-codeowners
notebooks/         @rapidsai/wholegraph-doc-codeowners
docs/              @rapidsai/wholegraph-doc-codeowners
**/*.txt           @rapidsai/wholegraph-doc-codeowners
**/*.md            @rapidsai/wholegraph-doc-codeowners
**/*.rst           @rapidsai/wholegraph-doc-codeowners
**/*.ipynb         @rapidsai/wholegraph-doc-codeowners
**/*.pdf           @rapidsai/wholegraph-doc-codeowners
**/*.png           @rapidsai/wholegraph-doc-codeowners

#cpp code owners
cpp/               @rapidsai/wholegraph-cpp-codeowners

#python code owners
python/            @rapidsai/wholegraph-python-codeowners

#cmake code owners
**/CMakeLists.txt  @rapidsai/wholegraph-cmake-codeowners
**/cmake/          @rapidsai/wholegraph-cmake-codeowners

#CI code owners
/.github/                @rapidsai/ci-codeowners
/ci/                     @rapidsai/ci-codeowners
/.pre-commit-config.yaml @rapidsai/ci-codeowners

#packaging code owners
/.devcontainer/    @rapidsai/packaging-codeowners
/conda/            @rapidsai/packaging-codeowners
/dependencies.yaml @rapidsai/packaging-codeowners
/build.sh          @rapidsai/packaging-codeowners
pyproject.toml     @rapidsai/packaging-codeowners

implement hierarchy gather function
  cpp/src/wholememory_ops/functions/bucket_ids_for_hierarchy_func.cu
  cpp/src/wholememory_ops/functions/bucket_ids_for_hierarchy_func.h
  cpp/src/wholememory_ops/functions/sort_unique_ids_for_hierarchy_func.cu
  cpp/src/wholememory_ops/functions/sort_unique_ids_for_hierarchy_func.h
  cpp/src/wholememory_ops/functions/sort_unique_indices_func.cu
  cpp/src/wholememory_ops/functions/sort_unique_indices_func.h
  cpp/src/wholememory_ops/gather_op_impl_hierarchy.cu
Owners: @rapidsai/wholegraph-cpp-codeowners

make package installations in CI stricter
  ci/build_docs.sh
  ci/build_python.sh
  ci/test_cpp.sh
  ci/test_python.sh
  ci/test_wheel.sh
Owners: @rapidsai/ci-codeowners

update-version.sh
  ci/release/update-version.sh
Owners: @rapidsai/ci-codeowners

typos
  ci/test_cpp.sh
  ci/test_python.sh
Owners: @rapidsai/ci-codeowners

support different rank sizes for heirarchy memory type
  cpp/include/wholememory/wholememory.h
  cpp/src/wholememory/memory_handle.cpp
  cpp/src/wholememory/wholememory.cpp
  cpp/src/wholememory_ops/functions/bucket_ids_for_hierarchy_func.cu
  cpp/src/wholememory_ops/functions/bucket_ids_for_hierarchy_func.h
  cpp/src/wholememory_ops/gather_op_impl_hierarchy.cu
  cpp/tests/wholememory_ops/wholememory_gather_tests.cu
  python/pylibwholegraph/pylibwholegraph/torch/embedding.py
Owners: @rapidsai/wholegraph-cpp-codeowners, @rapidsai/wholegraph-python-codeowners

REL v24.10.00 release
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  dependencies.yaml
Owners: @rapidsai/packaging-codeowners

rapids-version instead of rapids-version-major-minor
  ci/build_docs.sh
  ci/test_cpp.sh
  ci/test_python.sh
Owners: @rapidsai/ci-codeowners

Update ci/build_docs.sh
  ci/build_docs.sh
Owners: @rapidsai/ci-codeowners

revert wheel testing changes
  ci/test_wheel.sh
Owners: @rapidsai/ci-codeowners

Add a new memory type: Hierarchy (#227)
  cpp/include/wholememory/wholememory.h
  cpp/src/wholememory/communicator.cpp
  cpp/src/wholememory/communicator.hpp
  cpp/src/wholememory/embedding.cpp
  cpp/src/wholememory/memory_handle.cpp
  cpp/src/wholememory/memory_handle.hpp
  cpp/src/wholememory/wholememory.cpp
  cpp/src/wholememory_ops/functions/bucket_ids_for_hierarchy_func.cu
  cpp/src/wholememory_ops/functions/bucket_ids_for_hierarchy_func.h
  cpp/src/wholememory_ops/functions/sort_unique_ids_for_hierarchy_func.cu
  cpp/src/wholememory_ops/functions/sort_unique_ids_for_hierarchy_func.h
  cpp/src/wholememory_ops/functions/sort_unique_indices_func.cu
  cpp/src/wholememory_ops/functions/sort_unique_indices_func.h
  cpp/src/wholememory_ops/gather_op.cpp
  cpp/src/wholememory_ops/gather_op_impl.h
  cpp/src/wholememory_ops/gather_op_impl_hierarchy.cu
  cpp/tests/wholememory_ops/wholememory_gather_tests.cu
  python/pylibwholegraph/pylibwholegraph/binding/wholememory_binding.pyx
  python/pylibwholegraph/pylibwholegraph/test_utils/test_comm.py
  python/pylibwholegraph/pylibwholegraph/torch/common_options.py
  python/pylibwholegraph/pylibwholegraph/torch/embedding.py
  python/pylibwholegraph/pylibwholegraph/torch/utils.py
Owners: @rapidsai/wholegraph-cpp-codeowners, @rapidsai/wholegraph-python-codeowners

make conda installations in CI stricter (#228)
  ci/build_docs.sh
  ci/build_python.sh
  ci/release/update-version.sh
  ci/test_cpp.sh
  ci/test_python.sh
Owners: @rapidsai/ci-codeowners

Add gather/scatter support 1D tensor
  python/pylibwholegraph/pylibwholegraph/tests/wholegraph_torch/ops/test_wholegraph_gather_scatter.py
  python/pylibwholegraph/pylibwholegraph/torch/tensor.py
  python/pylibwholegraph/pylibwholegraph/torch/wholememory_ops.py
Owners: @rapidsai/wholegraph-python-codeowners

manage more dependencies in dependencies.yaml, add 'numpy' run dependency to conda packages
  ci/test_wheel.sh
  conda/recipes/pylibwholegraph/meta.yaml
  dependencies.yaml
  python/pylibwholegraph/pylibwholegraph/binding/wholememory_binding.pyx
  python/pylibwholegraph/pyproject.toml
Owners: @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners, @rapidsai/wholegraph-python-codeowners

add numpy to wheel dependencies
  ci/test_wheel.sh
  dependencies.yaml
  python/pylibwholegraph/pyproject.toml
Owners: @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

update pyproejct
  python/pylibwholegraph/pyproject.toml
Owners: @rapidsai/packaging-codeowners

fix condition
  ci/test_wheel.sh
Owners: @rapidsai/ci-codeowners

--extra-index-url, not --index-url
  ci/test_wheel.sh
Owners: @rapidsai/ci-codeowners

separate pip installs
  ci/test_wheel.sh
Owners: @rapidsai/ci-codeowners

the torch install needs to pull in its dependencies too
  ci/test_wheel.sh
Owners: @rapidsai/ci-codeowners

put comment back, remove numpy from test deps
  ci/test_wheel.sh
  dependencies.yaml
  python/pylibwholegraph/pyproject.toml
Owners: @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

combine pip installs
  ci/test_wheel.sh
Owners: @rapidsai/ci-codeowners

manage more dependencies in dependencies.yaml, declare 'numpy' runtime dependency (#230)
  ci/test_wheel.sh
  conda/recipes/pylibwholegraph/meta.yaml
  dependencies.yaml
  python/pylibwholegraph/pylibwholegraph/binding/wholememory_binding.pyx
  python/pylibwholegraph/pyproject.toml
Owners: @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners, @rapidsai/wholegraph-python-codeowners

print sccache stats in builds
  .pre-commit-config.yaml
  ci/build_cpp.sh
  ci/build_python.sh
  ci/build_wheel.sh
Owners: @rapidsai/ci-codeowners

stop publishing packages
  .github/workflows/build.yaml
Owners: @rapidsai/ci-codeowners
