Repository rapidsai/wholegraph, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/wholegraph-doc-codeowners, @rapidsai/wholegraph-cpp-codeowners, @rapidsai/wholegraph-python-codeowners, @rapidsai/wholegraph-cmake-codeowners, @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

Add horovodrun launch agent for Wholegraph (#200)
  python/pylibwholegraph/pylibwholegraph/torch/distributed_launch.py
Owners: @rapidsai/wholegraph-python-codeowners

Update pre-commit hooks.
  .pre-commit-config.yaml
Owners: @rapidsai/ci-codeowners

Improve update-version.sh (#204)
  ci/release/update-version.sh
Owners: @rapidsai/ci-codeowners

Update pre-commit hooks (#206)
  .pre-commit-config.yaml
Owners: @rapidsai/ci-codeowners

fix_mnnvl_with_uuid
  cpp/src/wholememory/communicator.cpp
Owners: @rapidsai/wholegraph-cpp-codeowners

fix_mnnvl_with_uuid (#207)
  cpp/src/wholememory/communicator.cpp
Owners: @rapidsai/wholegraph-cpp-codeowners

Remove NumPy <2 pin.
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  dependencies.yaml
Owners: @rapidsai/packaging-codeowners

Include pre-release identifier for upper pin
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  dependencies.yaml
Owners: @rapidsai/packaging-codeowners

Drop Python 3.9 support
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  dependencies.yaml
  python/pylibwholegraph/pyproject.toml
Owners: @rapidsai/packaging-codeowners

update requires-python floor in pylibwholegraph
  python/pylibwholegraph/pyproject.toml
Owners: @rapidsai/packaging-codeowners

Drop Python 3.9 support (#209)
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  dependencies.yaml
  python/pylibwholegraph/pyproject.toml
Owners: @rapidsai/packaging-codeowners

Remove NumPy <2 pin (#208)
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  dependencies.yaml
Owners: @rapidsai/packaging-codeowners

Update rapidsai/pre-commit-hooks to version 0.4.0.
  .pre-commit-config.yaml
Owners: @rapidsai/ci-codeowners

Update rapidsai/pre-commit-hooks (#213)
  .pre-commit-config.yaml
Owners: @rapidsai/ci-codeowners

Add support for Python 3.12.
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  dependencies.yaml
  python/pylibwholegraph/pyproject.toml
Owners: @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

Add support for Python 3.12 (#214)
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  dependencies.yaml
  python/pylibwholegraph/pyproject.toml
Owners: @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

Ensure pylibwholegraph conda packages have the license
  conda/recipes/pylibwholegraph/meta.yaml
Owners: @rapidsai/packaging-codeowners

Ensure pylibwholegraph conda packages have the license (#215)
  conda/recipes/pylibwholegraph/meta.yaml
Owners: @rapidsai/packaging-codeowners

Use CI workflow branch 'branch-24.10' again [skip ci]
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Owners: @rapidsai/ci-codeowners

Use CI workflow branch 'branch-24.10' again [skip ci] (#216)
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Owners: @rapidsai/ci-codeowners

DOC v24.12 Updates [skip ci]
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  VERSION
  ci/build_docs.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  cpp/CMakeLists.txt
  cpp/Doxyfile
  dependencies.yaml
  fetch_rapids.cmake
  python/pylibwholegraph/CMakeLists.txt
Owners: @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners, @rapidsai/wholegraph-cmake-codeowners, @rapidsai/wholegraph-cpp-codeowners

try to reproduce nightly failure
  .github/workflows/pr.yaml
Owners: @rapidsai/ci-codeowners

workflow dependencies
  .github/workflows/pr.yaml
Owners: @rapidsai/ci-codeowners

bump nccl floor to 2.18.1.1
  .github/workflows/pr.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  conda/recipes/libwholegraph/conda_build_config.yaml
  dependencies.yaml
Owners: @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

revert testing-only changes
  .github/workflows/pr.yaml
Owners: @rapidsai/ci-codeowners

relax pytorch pin
  conda/environments/all_cuda-118_arch-x86_64.yaml
  dependencies.yaml
Owners: @rapidsai/packaging-codeowners

update update-version.sh to use packaging lib
  ci/release/update-version.sh
Owners: @rapidsai/ci-codeowners

update update-version.sh to use packaging lib (#219)
  ci/release/update-version.sh
Owners: @rapidsai/ci-codeowners

bypass sanity check
  python/pylibwholegraph/pylibwholegraph/torch/gnn_model.py
Owners: @rapidsai/wholegraph-python-codeowners

bump NCCL floor to 2.18.1.1, relax PyTorch pin (#218)
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  conda/recipes/libwholegraph/conda_build_config.yaml
  dependencies.yaml
Owners: @rapidsai/packaging-codeowners

bump NCCL floor to 2.19
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  conda/recipes/libwholegraph/conda_build_config.yaml
  dependencies.yaml
Owners: @rapidsai/packaging-codeowners

bump NCCL floor to 2.19 (#223)
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  conda/recipes/libwholegraph/conda_build_config.yaml
  dependencies.yaml
Owners: @rapidsai/packaging-codeowners

Prune workflows based on changed files
  .github/workflows/pr.yaml
Owners: @rapidsai/ci-codeowners

Exclude scripts/checks
  .github/workflows/pr.yaml
Owners: @rapidsai/ci-codeowners

Remove temporary exclusion of .github/workflows
  .github/workflows/pr.yaml
Owners: @rapidsai/ci-codeowners

Prune workflows based on changed files (#226)
  .github/workflows/pr.yaml
Owners: @rapidsai/ci-codeowners

add wholememory_hierarchy_type, new gather func needed
  cpp/include/wholememory/wholememory.h
  cpp/src/wholememory/communicator.cpp
  cpp/src/wholememory/communicator.hpp
  cpp/src/wholememory/embedding.cpp
  cpp/src/wholememory/memory_handle.cpp
  cpp/src/wholememory/memory_handle.hpp
  cpp/src/wholememory/wholememory.cpp
  cpp/src/wholememory_ops/gather_op.cpp
  cpp/src/wholememory_ops/gather_op_impl.h
  cpp/src/wholememory_ops/gather_op_impl_hierarchy.cu
  python/pylibwholegraph/pylibwholegraph/binding/wholememory_binding.pyx
  python/pylibwholegraph/pylibwholegraph/test_utils/test_comm.py
  python/pylibwholegraph/pylibwholegraph/torch/common_options.py
  python/pylibwholegraph/pylibwholegraph/torch/embedding.py
  python/pylibwholegraph/pylibwholegraph/torch/utils.py
Owners: @rapidsai/wholegraph-cpp-codeowners, @rapidsai/wholegraph-python-codeowners

support obtaining local_comm and cross_comm for hierarchy memory type
  cpp/include/wholememory/wholememory.h
  cpp/src/wholememory/memory_handle.cpp
  cpp/src/wholememory/memory_handle.hpp
  cpp/src/wholememory/wholememory.cpp
  python/pylibwholegraph/pylibwholegraph/binding/wholememory_binding.pyx
Owners: @rapidsai/wholegraph-cpp-codeowners, @rapidsai/wholegraph-python-codeowners

set a knob for sort-unique
  cpp/src/wholememory_ops/functions/bucket_ids_for_hierarchy_func.cu
  cpp/src/wholememory_ops/functions/bucket_ids_for_hierarchy_func.h
  cpp/src/wholememory_ops/gather_op_impl_hierarchy.cu
Owners: @rapidsai/wholegraph-cpp-codeowners

quick fix in creating sub-communicator for hierarchy memory type
  cpp/src/wholememory/memory_handle.cpp
Owners: @rapidsai/wholegraph-cpp-codeowners

.github/CODEOWNERS:

# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# Order matters - match of highest importance goes last (last match wins)

#doc code owners
datasets/          @rapidsai/wholegraph-doc-codeowners
notebooks/         @rapidsai/wholegraph-doc-codeowners
docs/              @rapidsai/wholegraph-doc-codeowners
**/*.txt           @rapidsai/wholegraph-doc-codeowners
**/*.md            @rapidsai/wholegraph-doc-codeowners
**/*.rst           @rapidsai/wholegraph-doc-codeowners
**/*.ipynb         @rapidsai/wholegraph-doc-codeowners
**/*.pdf           @rapidsai/wholegraph-doc-codeowners
**/*.png           @rapidsai/wholegraph-doc-codeowners

#cpp code owners
cpp/               @rapidsai/wholegraph-cpp-codeowners

#python code owners
python/            @rapidsai/wholegraph-python-codeowners

#cmake code owners
**/CMakeLists.txt  @rapidsai/wholegraph-cmake-codeowners
**/cmake/          @rapidsai/wholegraph-cmake-codeowners

#CI code owners
/.github/                @rapidsai/ci-codeowners
/ci/                     @rapidsai/ci-codeowners
/.pre-commit-config.yaml @rapidsai/ci-codeowners

#packaging code owners
/.devcontainer/    @rapidsai/packaging-codeowners
/conda/            @rapidsai/packaging-codeowners
/dependencies.yaml @rapidsai/packaging-codeowners
/build.sh          @rapidsai/packaging-codeowners
pyproject.toml     @rapidsai/packaging-codeowners
