Repository rapidsai/wholegraph, pull requests merged in 2023-11, with the labels that each got.

#87 Grace Hopper support and add benchmark
  cpp/CMakeLists.txt
  cpp/bench/CMakeLists.txt
  cpp/bench/common/wholegraph_benchmark.cpp
  cpp/bench/common/wholegraph_benchmark.hpp
  cpp/bench/wholememory_ops/gather_scatter_bench.cu
  cpp/include/wholememory/wholememory.h
  cpp/src/net_utils.cpp
  cpp/src/net_utils.h
  cpp/src/parallel_utils.cpp
  cpp/src/parallel_utils.hpp
  cpp/src/wholememory/communicator.cpp
  cpp/src/wholememory/communicator.hpp
  cpp/src/wholememory/env_func_ptrs.cpp
  cpp/src/wholememory/env_func_ptrs.hpp
  cpp/src/wholememory/memory_handle.cpp
  cpp/src/wholememory/system_info.cpp
  cpp/src/wholememory/system_info.hpp
  cpp/src/wholememory/wholememory.cpp
  cpp/tests/wholegraph_ops/wholegraph_csr_unweighted_sample_without_replacement_tests.cu
  cpp/tests/wholegraph_ops/wholegraph_csr_weighted_sample_without_replacement_tests.cu
  cpp/tests/wholememory/wholememory_handle_tests.cpp
  cpp/tests/wholememory/wholememory_test_utils.hpp
  cpp/tests/wholememory_ops/wholememory_embedding_gradient_apply_tests.cu
  cpp/tests/wholememory_ops/wholememory_embedding_tests.cu
  cpp/tests/wholememory_ops/wholememory_gather_tests.cu
  cpp/tests/wholememory_ops/wholememory_scatter_tests.cu
  python/pylibwholegraph/examples/node_classfication.py
  python/pylibwholegraph/pylibwholegraph/binding/wholememory_binding.pyx
  python/pylibwholegraph/pylibwholegraph/tests/pylibwholegraph/test_wholememory_binding.py
  python/pylibwholegraph/pylibwholegraph/tests/pylibwholegraph/test_wholememory_io.py
  python/pylibwholegraph/pylibwholegraph/tests/pylibwholegraph/test_wholememory_tensor.py
  python/pylibwholegraph/pylibwholegraph/tests/wholegraph_torch/ops/test_wholegraph_gather_scatter.py
  python/pylibwholegraph/pylibwholegraph/tests/wholegraph_torch/ops/test_wholegraph_unweighted_sample_without_replacement.py
  python/pylibwholegraph/pylibwholegraph/tests/wholegraph_torch/ops/test_wholegraph_weighted_sample_without_replacement.py
  python/pylibwholegraph/pylibwholegraph/torch/comm.py
  python/pylibwholegraph/pylibwholegraph/torch/wholegraph_env.py
Labels: feature request, non-breaking

#90 gather/scatter optimizations
  cpp/src/wholememory_ops/functions/gather_scatter_func.cuh
Labels: improvement, non-breaking

#97 change pytorch cu121 to stable to fix ci
  ci/test_wheel.sh
Labels: bug, non-breaking

#61 replace optparse with argparser
  python/pylibwholegraph/examples/node_classfication.py
  python/pylibwholegraph/pylibwholegraph/torch/common_options.py
  python/pylibwholegraph/pylibwholegraph/torch/distributed_launch.py
  python/pylibwholegraph/pylibwholegraph/torch/gnn_model.py
Labels: improvement, non-breaking

#79 Use RNG (random number generator) provided by RAFT
  cpp/cmake/thirdparty/get_raft.cmake
  cpp/src/wholegraph_ops/raft_random_gen.cu
  cpp/src/wholegraph_ops/unweighted_sample_without_replacement_func.cuh
  cpp/src/wholegraph_ops/weighted_sample_without_replacement_func.cuh
  cpp/src/wholememory_ops/raft_random.cuh
  cpp/tests/wholegraph_ops/graph_sampling_test_utils.cu
Labels: improvement, non-breaking

#103 move_vector_clear_outside_loop
  cpp/src/wholememory/memory_handle.cpp
Labels: bug, non-breaking
