Repository rapidsai/wholegraph, pull requests merged in 2024-02, with the labels that each got.

#122 handle more RAPIDS version formats in update-version.sh
  ci/release/update-version.sh
Labels: bug, non-breaking

#127 Exclude tests from builds
  python/pylibwholegraph/setup.py
Labels: bug, non-breaking

#130 Revert "Exclude tests from builds (#127)"
  python/pylibwholegraph/setup.py
Labels: bug, non-breaking

#116 Support CUDA 12.2
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  conda/environments/all_cuda-122_arch-x86_64.yaml
  conda/recipes/libwholegraph/meta.yaml
  conda/recipes/pylibwholegraph/meta.yaml
  dependencies.yaml
Labels: feature request, non-breaking, conda

#123 Logging level
  cpp/include/wholememory/wholememory.h
  cpp/src/wholememory/initialize.cpp
  cpp/src/wholememory/initialize.hpp
  cpp/src/wholememory/wholememory.cpp
  python/pylibwholegraph/examples/node_classfication.py
  python/pylibwholegraph/pylibwholegraph/binding/wholememory_binding.pyx
  python/pylibwholegraph/pylibwholegraph/torch/common_options.py
  python/pylibwholegraph/pylibwholegraph/torch/initialize.py
Labels: improvement, non-breaking

#124 allow users to control gather/scatter sms
  cpp/include/wholememory/embedding.h
  cpp/include/wholememory/wholememory_op.h
  cpp/src/wholememory/embedding.cpp
  cpp/src/wholememory/embedding.hpp
  cpp/src/wholememory_ops/functions/gather_func.cu
  cpp/src/wholememory_ops/functions/gather_func_impl_floating_data_int32_indices.cu
  cpp/src/wholememory_ops/functions/gather_func_impl_floating_data_int64_indices.cu
  cpp/src/wholememory_ops/functions/gather_func_impl_integer_data_int32_indices.cu
  cpp/src/wholememory_ops/functions/gather_func_impl_integer_data_int64_indices.cu
  cpp/src/wholememory_ops/functions/gather_scatter_func.cuh
  cpp/src/wholememory_ops/functions/gather_scatter_func.h
  cpp/src/wholememory_ops/functions/nvshmem_gather_func_impl_floating_data_int32_indices.cu
  cpp/src/wholememory_ops/functions/nvshmem_gather_func_impl_floating_data_int64_indices.cu
  cpp/src/wholememory_ops/functions/nvshmem_gather_func_impl_integer_data_int32_indices.cu
  cpp/src/wholememory_ops/functions/nvshmem_gather_func_impl_integer_data_int64_indices.cu
  cpp/src/wholememory_ops/functions/nvshmem_gather_scatter_func.cuh
  cpp/src/wholememory_ops/functions/nvshmem_scatter_func_impl_floating_data_int32_indices.cu
  cpp/src/wholememory_ops/functions/nvshmem_scatter_func_impl_floating_data_int64_indices.cu
  cpp/src/wholememory_ops/functions/nvshmem_scatter_func_impl_integer_data_int32_indices.cu
  cpp/src/wholememory_ops/functions/nvshmem_scatter_func_impl_integer_data_int64_indices.cu
  cpp/src/wholememory_ops/functions/scatter_func.cu
  cpp/src/wholememory_ops/functions/scatter_func_impl_floating_data_int32_indices.cu
  cpp/src/wholememory_ops/functions/scatter_func_impl_floating_data_int64_indices.cu
  cpp/src/wholememory_ops/functions/scatter_func_impl_integer_data_int32_indices.cu
  cpp/src/wholememory_ops/functions/scatter_func_impl_integer_data_int64_indices.cu
  cpp/src/wholememory_ops/gather_op.cpp
  cpp/src/wholememory_ops/gather_op_impl.h
  cpp/src/wholememory_ops/gather_op_impl_mapped.cu
  cpp/src/wholememory_ops/gather_op_impl_nccl.cu
  cpp/src/wholememory_ops/gather_op_impl_nvshmem.cu
  cpp/src/wholememory_ops/scatter_op.cpp
  cpp/src/wholememory_ops/scatter_op_impl.h
  cpp/src/wholememory_ops/scatter_op_impl.nvshmem.cu
  cpp/src/wholememory_ops/scatter_op_impl_mapped.cu
  cpp/src/wholememory_ops/scatter_op_impl_nccl.cu
  python/pylibwholegraph/pylibwholegraph/binding/wholememory_binding.pyx
  python/pylibwholegraph/pylibwholegraph/torch/embedding.py
Labels: feature request, non-breaking

#135 target branch-24.04 for GitHub Actions workflows
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Labels: improvement, non-breaking

#139 Add support for Python 3.11, require NumPy 1.23+
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-122_arch-x86_64.yaml
  dependencies.yaml
Labels: improvement, non-breaking
