Repository rapidsai/wholegraph, pull requests merged in 2024-11, with the labels that each got.

#233 stop publishing packages
  .github/workflows/build.yaml
Labels: breaking, improvement

#235 [Bugfix] Sync stream for scatter_op
  cpp/src/wholememory_ops/scatter_op_impl_mapped.cu
Labels: improvement, non-breaking

#221 [Optimization] Accelerate dgl create block by bypassing sanity check
  python/pylibwholegraph/pylibwholegraph/torch/gnn_model.py
Labels: improvement, non-breaking

#229 Add gather/scatter support 1D tensor
  python/pylibwholegraph/pylibwholegraph/tests/wholegraph_torch/ops/test_wholegraph_gather_scatter.py
  python/pylibwholegraph/pylibwholegraph/torch/tensor.py
  python/pylibwholegraph/pylibwholegraph/torch/wholememory_ops.py
Labels: improvement, non-breaking

#234 [Bugfix] Dynamic load NVML symbols for better compatibility
  cpp/src/nvml_wrap.cpp
  cpp/src/nvml_wrap.h
  cpp/src/wholememory/communicator.cpp
  cpp/src/wholememory/system_info.cpp
  cpp/src/wholememory/system_info.hpp
Labels: bug, non-breaking
